.layout {
    background-color: #393e4a;
    color: white;
    align-items: center;
    width: 70%;
    min-width: 600px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}